#plasso {

  width: calc(100% - 60px);
  margin: 40px 40px 0 20px;
  padding-bottom: 9px;

  border-radius: 6px;

  background: #ffffff;

  -moz-box-shadow: rgba(29, 29, 31, 0.13) 0 10px 60px;
  -webkit-box-shadow: rgba(29, 29, 31, 0.13) 0 10px 60px;
  box-shadow: rgba(29, 29, 31, 0.13) 0 10px 60px;

  a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-rendering:optimizeLegibility}

  ol,
  ul {
    list-style: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  caption,
  td,
  th {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote:after,
  blockquote:before,
  q:after,
  q:before {
    content: "";
    content: none;
  }

  a img {
    border: none;
  }

  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

  .btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    text-align: center;
    padding: 15px 22px;
    line-height: 1em;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
    background-color: #3e70ff;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwODNmZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFkN2JmMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2083fe), color-stop(100%, #1d7bf0));
    background: -moz-linear-gradient(#2083fe, #1d7bf0);
    background: -webkit-linear-gradient(#2083fe, #1d7bf0);
    background: linear-gradient(#2083fe, #1d7bf0);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: rgba(23, 43, 99, 0.24) 0 7px 28px;
    -webkit-box-shadow: rgba(23, 43, 99, 0.24) 0 7px 28px;
    box-shadow: rgba(23, 43, 99, 0.24) 0 7px 28px;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
  }

  .btn:hover {
    color: #fff;
    opacity: 1;
  }

  .btn:active {
    -moz-transform: scale3d(0.94, 0.94, 0.94);
    -ms-transform: scale3d(0.94, 0.94, 0.94);
    -webkit-transform: scale3d(0.94, 0.94, 0.94);
    transform: scale3d(0.94, 0.94, 0.94);
    -moz-box-shadow: rgba(23, 43, 99, 0.24) 0 3px 18px;
    -webkit-box-shadow: rgba(23, 43, 99, 0.24) 0 3px 18px;
    box-shadow: rgba(23, 43, 99, 0.24) 0 3px 18px;
  }

  .btn.arrow:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -2px;
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="%23fff" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>');
  }

  .btn.arrow:after {
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }

  .btn.arrow:hover:after {
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  .btn.arrow-left:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -1px;
    background-image: url("data:image/svg+xml,<svg></svg>");
  }

  .btn.arrow-left:before {
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }

  .btn.arrow-left:hover:before {
    -moz-transform: translateX(-4px);
    -ms-transform: translateX(-4px);
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }

  .btn.small {
    padding: 10px 20px;
    font-size: 12px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  .btn.small:active {
    -moz-transform: scale3d(0.96, 0.96, 0.96);
    -ms-transform: scale3d(0.96, 0.96, 0.96);
    -webkit-transform: scale3d(0.96, 0.96, 0.96);
    transform: scale3d(0.96, 0.96, 0.96);
    -moz-box-shadow: rgba(23, 43, 99, 0.24) 0 3px 20px;
    -webkit-box-shadow: rgba(23, 43, 99, 0.24) 0 3px 20px;
    box-shadow: rgba(23, 43, 99, 0.24) 0 3px 20px;
  }

  .btn.medium {
    padding: 17px 26px;
    font-size: 16px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  .btn.medium:active {
    -moz-transform: scale3d(0.96, 0.96, 0.96);
    -ms-transform: scale3d(0.96, 0.96, 0.96);
    -webkit-transform: scale3d(0.96, 0.96, 0.96);
    transform: scale3d(0.96, 0.96, 0.96);
    -moz-box-shadow: rgba(23, 43, 99, 0.24) 0 3px 20px;
    -webkit-box-shadow: rgba(23, 43, 99, 0.24) 0 3px 20px;
    box-shadow: rgba(23, 43, 99, 0.24) 0 3px 20px;
  }

  .btn.big {
    padding: 23px 30px;
    font-size: 17px;
    font-weight: bold;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: rgba(23, 43, 99, 0.26) 0 7px 42px;
    -webkit-box-shadow: rgba(23, 43, 99, 0.26) 0 7px 42px;
    box-shadow: rgba(23, 43, 99, 0.26) 0 7px 42px;
  }

  .btn.big:after {
    margin-top: -3px !important;
    margin-left: 8px !important;
  }

  .btn.big:active {
    -moz-transform: scale3d(0.97, 0.97, 0.97);
    -ms-transform: scale3d(0.97, 0.97, 0.97);
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
    -moz-box-shadow: rgba(23, 43, 99, 0.25) 0 3px 26px;
    -webkit-box-shadow: rgba(23, 43, 99, 0.25) 0 3px 26px;
    box-shadow: rgba(23, 43, 99, 0.25) 0 3px 26px;
  }

  .btn.full {
    display: block;
  }

  .btn.no-shadow {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn.no-shadow:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 0.6;
  }

  .btn.normal-case {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: none;
    letter-spacing: inherit;
    font-weight: normal;
  }

  .btn.empty {
    color: #3e70ff;
    background-color: transparent;
    background: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn.empty.arrow:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -2px;
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="%233e70ff" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>');
  }

  .btn.empty.arrow-left:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -1px;
    background-image: url("data:image/svg+xml,<svg></svg>");
  }

  .btn.empty.arrow-left.gray {
    color: #768093;
  }

  .btn.empty.arrow-left.gray:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -1px;
    background-image: url("data:image/svg+xml,<svg></svg>");
  }

  .btn.empty:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn.disabled {
    cursor: default;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }

  .btn.disabled:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn.outline {
    border: 1px solid #3e70ff;
    border-color: rgba(62, 112, 255, 0.5);
    color: #3e70ff;
    background-color: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
  }

  .btn.outline.arrow:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -2px;
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="%233e70ff" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>');
  }

  .btn.outline.arrow-left:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -1px;
    background-image: url("data:image/svg+xml,<svg></svg>");
  }

  .btn.outline:hover {
    border-color: #3e70ff;
  }

  .btn.outline:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .btn.white {
    color: #fff;
    border-color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
  }

  .btn.white.arrow:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -2px;
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="%23fff" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>');
  }

  .btn.white.arrow-left:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -1px;
    background-image: url("data:image/svg+xml,<svg></svg>");
  }

  .btn.white:hover {
    border-color: #fff;
  }

  .btn.gray {
    color: #768093;
    border-color: #abb1b7;
    border-color: rgba(171, 177, 183, 0.5);
  }

  .btn.gray.arrow:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -2px;
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="%23768093" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>');
  }

  .btn.gray:hover {
    border-color: #768093;
  }

  .btn.red {
    color: #ed4d4d;
    border-color: #ed4d4d;
    border-color: rgba(237, 77, 77, 0.5);
  }

  .btn.red.arrow:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -2px;
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="%23ed4d4d" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>');
  }

  .btn.red.arrow-left:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -1px;
    background-image: url("data:image/svg+xml,<svg></svg>");
  }

  .btn.red:hover {
    border-color: #ed4d4d;
  }

  .btn.membership {
    border-color: #f44c67;
    color: #f44c67;
  }

  .btn.membership.arrow:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -2px;
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="%23f44c67" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>');
  }

  .btn.membership:hover {
    border-color: #f44c67;
  }

  .btn.storefront {
    border-color: #4f5ef5;
    color: #4f5ef5;
  }

  .btn.storefront.arrow:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -2px;
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="%234f5ef5" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>');
  }

  .btn.storefront:hover {
    border-color: #4f5ef5;
  }

  .btn.billing {
    border-color: #2fca74;
    color: #2fca74;
  }

  .btn.billing.arrow:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -2px;
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="%232fca74" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>');
  }

  .btn.billing:hover {
    border-color: #2fca74;
  }

  .btn.fundraise {
    border-color: #fb7d60;
    color: #fb7d60;
  }

  .btn.fundraise.arrow:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -2px;
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="%23fb7d60" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>');
  }

  .btn.fundraise:hover {
    border-color: #fb7d60;
  }

  .btn.invoice {
    border-color: #577b94;
    color: #577b94;
  }

  .btn.invoice.arrow:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -2px;
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="%23577b94" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>');
  }

  .btn.invoice:hover {
    border-color: #577b94;
  }

  .btn.payme {
    border-color: #06c7d9;
    color: #06c7d9;
  }

  .btn.payme.arrow:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -2px;
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="%2306c7d9" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>');
  }

  .btn.payme:hover {
    border-color: #06c7d9;
  }

  @media only screen and (max-width: 400px) {
    .btn.big {
      font-size: 14px;
    }
  }

  a {
    text-decoration: none;
    color: #3e70ff;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    outline: none;
  }

  a:active {
    outline: none;
  }

  a:hover {
    opacity: 0.5;
  }

  img {
    max-width: 100%;
  }

  p {
    line-height: 1.3em;
  }

  p a {
    white-space: nowrap;
  }

  p a:after {
    content: " ";
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-left: 5px;
    background-repeat: no-repeat;
    width: 5px;
    height: 9px;
    margin-top: -2px;
    background-image: url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10.0401 17.9909" enable-background="new 0 0 10.0401 17.9909" xml:space="preserve"><path fill="%233e70ff" fill-rule="evenodd" clip-rule="evenodd" d="M9.6564,8.04c0.5116,0.5277,0.5116,1.3842,0,1.9121l-7.4175,7.6438c-0.5132,0.5267-1.3433,0.5267-1.8545,0c-0.5125-0.5278-0.5125-1.3845,0-1.9124l6.4901-6.6882L0.3844,2.3072c-0.5125-0.5279-0.5125-1.3845,0-1.9124c0.5112-0.5264,1.3413-0.5264,1.8545,0L9.6564,8.04z"/></svg>');
  }

  p a:after {
    margin-left: 4px;
    -moz-transform: translateX(-1px);
    -ms-transform: translateX(-1px);
    -webkit-transform: translateX(-1px);
    transform: translateX(-1px);
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }

  p a:hover:after {
    -moz-transform: translateX(1px);
    -ms-transform: translateX(1px);
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  p a.pad {
    margin-right: 3px;
  }

  p a.subtle {
    color: inherit;
    text-decoration: underline;
  }

  p a.subtle:after {
    display: none;
  }

  strong {
    font-weight: bold;
    color: #1d1d1f;
  }

  b {
    font-weight: normal;
    color: #1d1d1f;
  }

  .dark {
    color: #1d1d1f;
  }

  .capitalize {
    text-transform: capitalize;
  }

  .caps {
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .nowrap {
    white-space: nowrap;
  }

  .help {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    text-align: center;
    width: 14px;
    height: 14px;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #abb1b7;
    border: 1px solid #abb1b7;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  hr {
    margin: 0;
    padding: 0;
    border: none;
    border-bottom: 1px solid #e8ebef;
    height: 0;
  }

  svg.red {
    fill: #ed4d4d;
  }

  svg.green {
    fill: #35c87f;
  }

  svg.question {
    width: 24.5px;
    height: 24.5px;
    fill: #1d1d1f;
  }

  svg.membership {
    width: 28px;
    height: 24px;
    fill: #f44c67;
  }

  svg.storefront {
    width: 28px;
    height: 24px;
    fill: #4f5ef5;
  }

  svg.billing {
    width: 28px;
    height: 31px;
    fill: #2fca74;
  }

  svg.fundraise {
    width: 28px;
    height: 31px;
    fill: #fb7d60;
  }

  svg.invoice {
    width: 24px;
    height: 24px;
    fill: #577b94;
  }

  svg.payme {
    width: 24px;
    height: 24px;
    fill: #06c7d9;
  }

  .membership {
    color: #f44c67;
  }

  .storefront {
    color: #4f5ef5;
  }

  .wordpress {
    color: #4f5ef5;
  }

  .billing {
    color: #2fca74;
  }

  .fundraise {
    color: #fb7d60;
  }

  .invoice {
    color: #577b94;
  }

  .payme {
    color: #06c7d9;
  }

  .page {
    padding: 0 0 30px;
    max-width: 880px;
    margin: 0 auto 40px;
  }

  .page.narrow {
    width: 680px;
    max-width: 100%;
  }

  .page a:not(.btn) {
    color: #3e70ff;
  }

  .page a:not(.btn):hover {
    color: #0038d7;
  }

  .page > * {
    margin-left: 20px;
    margin-right: 20px;
  }

  .page h1 {
    padding: 0 0 20px;
    font-size: 30px;
    color: #1d1d1f;
  }

  .page h1 a {
    color: #768093;
  }

  .page h1 a:hover {
    color: #1d1d1f;
  }

  .page h2 {
    padding: 0 0 5px;
    text-align: left;
    font-size: 20px;
    color: #2e2e31;
    font-weight: bold;
  }

  .page hr {
    margin: 20px;
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .page ul {
    list-style-type: square;
    padding: 0 20px;
    font-weight: normal;
  }

  .page ul li {
    margin: 10px 0 10px 20px;
    line-height: 1.4em;
  }

  .page ul.index {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 50%;
    margin: 0;
    padding: 0 0 10px;
    list-style-type: none;
    vertical-align: top;
  }

  .page ul.index li {
    margin: 25px 20px;
    font-size: 18px;
    line-height: 1.5em;
    color: #afb5c0;
  }

  .page ul.index li:first-of-type {
    margin-top: 10px;
  }

  .page ul.index li a {
    border-bottom: 2px solid #beceff;
    -moz-transition-property: border-color, color;
    -o-transition-property: border-color, color;
    -webkit-transition-property: border-color, color;
    transition-property: border-color, color;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }

  .page ul.index li a:hover {
    border-color: transparent;
  }

  .page strong {
    color: #2e2e31;
    font-weight: bold;
  }

  .page strong em {
    color: #768093;
  }

  .page img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
  }

  .page p {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5em;
    color: #768093;
    margin-bottom: 3px;
  }

  .page p strong {
    color: #2e2e31;
    font-weight: bold;
  }

  .page p strong em {
    color: #768093;
  }

  .page {
    h3 {
      font-size: 28px;
      color: #1d1d1f;
      line-height: 1;

      margin: 0 0 0 20px;
      padding: 0 0 27px;
    }

    .subhead {
      color: #1d1d1f;

      border-top: 1px solid;
      border-bottom: 1px solid;
      border-color: rgba(#000000, 0.075);

      margin: 0 20px;
      padding: 12px 0 15px;
    }

    article {
      padding: 22px 0 30px;

      &.actions {
        padding-top: 30px;
      }

      &:not(:last-of-type) {
        border-bottom: 1px dashed rgba(#000000, 0.075);
      }

      h4 {
        font-size: 18px;
        line-height: 1.3em;
        font-weight: bold;
        color: #2e2e31;

        margin: 0 0 7px;
      }

      p {
        margin: 0 0 15px;
      }

      code {
          display: inline-block;
          vertical-align: middle;
          *vertical-align: auto;
          *zoom: 1;
          *display: inline;
          max-width: 100%;
          margin: 0;
          padding: 8px 5px;
          overflow-x: auto;
          font-family: monospace;
          color: #2e2e31;
          white-space: nowrap;
          -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          background-color: rgba(#000000, 0.05);
      }
    }

    form {
      padding: 17px 0 0;
      margin-bottom: 29px;

      .btn {
        margin-top: 19px;

        &:focus {
          outline: none;
        }
      }

      ul {
        height: 100%;
        width: 100%;

        margin: 0;
        padding: 0;

        list-style: none;

        li {
          width: 100%;
          height: 22px;

          display: block;

          position: relative;

          float: left;

          margin: 5px 0;

          input[type=radio] {
            position: absolute;
            visibility: hidden;
          }

          label {
            display: block;

            position: relative;
            z-index: 9;

            padding: 0 0 0 30px;

            cursor: pointer;

            font-size: 14px;
            line-height: 22px;
            color: #abb1b7;

            -webkit-transition: all 0.25s linear;
          }

          .check {
            width: 20px;
            height: 20px;

            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;

            border: 1px solid #abb1b7;
            border-radius: 100%;

            background-color: #ffffff;

          	transition: border .25s linear;
          	-webkit-transition: border .25s linear;

            &:before {
              display: block;
              position: absolute;
            	content: '';
              border-radius: 100%;
              height: 16px;
              width: 16px;
              top: 2px;
            	left: 2px;
              margin: auto;
            	transition: background 0.25s linear;
            	-webkit-transition: background 0.25s linear;
            }
          }

          &:hover {
            label {
              color: #abb1b7;
            }

            .check {
              &:before {
                background: #abb1b7;
              }
            }
          }

          input[type=radio]:checked ~ .check:before {
            background: #4274fb;
            box-shadow:rgba(171,177,183,0.8) 0 2px 8px;
          }

          input[type=radio]:checked ~ label {
            color: #2e2e31;
          }
        }
      }
    }
  }

  section {
      padding: 0 30px;
  }

  h3 {
    color: #1d1d1f;
    margin-bottom: 18px;
  }

  .wrap {
    max-width: 880px;
    padding: 0 30px;
    margin: 0 auto;
  }

  #hero {
    position: relative;
    text-align: center;
    color: #1d1d1f;
    padding: 160px 30px;
  }

  #hero.internal {
    padding-top: 200px;
    padding-bottom: 0;
    margin-bottom: 200px;
  }

  #hero.no-bg {
    background-color: transparent;
    background: none;
  }

  #hero h2 {
    font-size: 54px;
    line-height: 1.2em;
  }

  #hero h2 * {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-weight: normal;
  }

  #hero h2 svg {
    height: 70px;
  }

  #hero h2.fundraise svg {
    margin-top: 0;
  }

  #hero h2.billing svg {
    width: 48px;
  }

  #hero h2.payme svg {
    height: 44px;
  }

  #hero .tagline {
    color: #768093;
    padding: 40px 25px 54px;
    font-weight: 200;
    max-width: 640px;
    font-size: 26px;
    line-height: 1.2em;
    margin: 0 auto;
  }

  #hero .tagline strong {
    display: block;
    margin-bottom: 10px;
    font-weight: 200;
  }

  #hero .tagline .sub {
    display: block;
    font-size: 17px;
    line-height: 1.3em;
    font-weight: normal;
  }

  #hero .btn.multi {
    margin: 0 12px 30px;
  }

  #hero .btn:not(.multi) {
    padding-left: 75px;
    padding-right: 75px;
  }

  #hero .btn .icon {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    vertical-align: top;
    height: 16px;
    margin-right: 15px;
  }

  #hero .btn svg {
    width: 17px;
    height: 17px;
    fill: #3e70ff;
  }

  #hero .btn.billing svg {
    fill: #2fca74;
  }

  @media only screen and (max-width: 900px) {
    #hero {
      padding-top: 28.5%;
    }
  }

  @media only screen and (max-width: 800px) {
    #hero {
      padding-top: 200px;
      padding-bottom: 120px;
    }

    #hero.internal {
      padding-top: 170px;
    }
  }

  @media only screen and (max-width: 700px) {
    #hero {
      padding-top: 200px;
    }

    #hero .white-box {
      padding-top: 70px;
      padding-bottom: 70px;
      -moz-transform: translate3d(0, 130px, 0);
      -ms-transform: translate3d(0, 130px, 0);
      -webkit-transform: translate3d(0, 130px, 0);
      transform: translate3d(0, 130px, 0);
    }
  }

  @media only screen and (max-width: 500px) {
    #hero {
      padding-left: 0;
      padding-right: 0;
    }

    #hero .inner {
      padding-left: 20px;
      padding-right: 20px;
    }

    #hero .white-box {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  @media only screen and (max-width: 400px) {
    #hero {
      padding-top: 170px;
    }

    #hero h2 {
      font-size: 34px;
    }

    #hero h2 svg {
      margin: 0 auto;
      display: block;
    }

    #hero .tagline {
      font-size: 20px;
      padding-left: 0;
      padding-right: 0;
    }

    #hero .btn.outline {
      padding-left: 50px;
      padding-right: 50px;
    }

    #hero.internal {
      padding-top: 130px;
    }
  }
}